* {
  font: 15px 'Cousine', monospace;
  color: rgb(211, 211, 211);
}
.App {
  text-align: center;
  background-color: rgb(16,16,24);
}

::-webkit-scrollbar {
  width: 0px;
}

.text-area {
  border: 0px;
  padding: 20%;
  font: 18px/35px 'Cousine', monospace;
  background-color: rgb(16,16,24);
  resize: none;
  scroll-behavior: smooth;
  overflow: auto;
}

@media (max-width: 767px) {
  .text-area {
    font: 14px;
    padding: 5%;
  }
}

.switch {
  position: fixed;
  z-index: 5;
}

.manual
{
  color: rgb(211, 211, 211);
  background: transparent;
  width: max-content;
}

input:focus
{
  outline: none;
}

input[type=checkbox]{
  background-color: rgb(211, 211, 211);
}